// out: false
.component_footer 			{ overflow:hidden; position: relative; background-color:var(--font-color); color:var(--white);
	.footerLineelement 		{ width: 5vw; min-width: 200px; max-width: 320px; margin:60px auto; }
	.footerLogo 			{
		img 				{ width:25vw; min-width:280px; max-width:500px; }
	}
	.footerNav 				{ .flex-display(flex); .flex-wrap(wrap); .justify-content(center); gap:15px; padding:30px 0;
		@media (min-width: @screen-md-min)	{ gap:30px; padding:60px 0; }
	}
	.footerMainmenu 		{ font-weight: bold; text-transform: uppercase; font-size:12px; }
}

.socialLinks 			{ .flex-display(flex); .flex-wrap(wrap); .align-items(center); .justify-content(center); margin:15px 0 90px 0; gap:20px; font-size: 24px;
	.socialLink 		{ color:#A57246;
		&:hover 		{ color: #E0CFBA; }
	}
	.sociallinksText { width:100%; text-align: center; order:-1; color:#E0CFBA; user-select: none; margin:15px 0; font-weight: bold; font-size: clamp(10px,1.2vw,14px); text-transform: uppercase; }
	.dottedlineSociallinks { display:none; width: 4px; height: auto;
		.st0 	{ fill:#A57246; }
	}
	@media (min-width: @screen-md-min)	{ position: fixed; z-index: 999; top:120px; right:1.4vw; margin:0; gap:1vw; .flex-direction(column); .flex-wrap(nowrap);
		i 	{ font-size:clamp(22px,1.6vw,28px); }
		.sociallinksText { width:auto; order:0; writing-mode: vertical-rl; text-orientation: mixed;.rotate(180deg); }
		.dottedlineSociallinks { display: block; }
	}
}

.footerBlock 			{ .flex-display(flex); .flex-direction(column); gap:5vw; margin:0px auto; width: 80vw; .align-items(center);
	@media (min-width: @screen-md-min)	{ .flex-direction(row); .justify-content(center); }
}

.footerAddressBlock 		{
	h4 						{ font-weight: bold; text-transform: uppercase; color:#A57246; margin-bottom:20px; }
	.footerAddressCol 		{ line-height: 1.6;
		>div 				{ .flex-display(flex);
			.addressLabel 	{ color:#E0CFBA; width:70px; }
		}
	}
	.footerAddress 			{
		@media (min-width: @screen-lg-min)	{ .flex-display(flex); gap:40px; }
	}
}
