// out:false

.paragraph  		{ padding:15vw 0;
	.aboveheadline,
	.headline,
	.subtitle 	 	{
		&.hand 		{ transform: skew(6deg, -6deg); }
		&.script 	{ transform: skew(6deg, -6deg); margin-bottom:6vw;
			&.text-center,
			&.text-right { margin-bottom:0; }
		}
	}
	.aboveheadline 	{ margin-left: 2vw;
		&.text-center { margin-left:0; }
	}
	.headline 		{ margin-left: -0.5vw;
		&.text-center { margin-left:0; }
	}
	.content,
	.more_content	{ margin:20px 0; line-height: 1.4;
		p 			{ margin-bottom:15px; display: inline-block; width: 100%; }
	}
	.links 			{ .flex-display(flex); .flex-wrap(wrap); gap:10px; }
	.inner 			{ position:relative;
		.themenicon 	{ line-height: 0; display:inline-block; width:auto; height:100%; max-height:10vw; min-height: 120px; position:absolute; left: 0; top:0; }
	}

	.spalten_2_1 	{
		.textelement_inhalt { position: relative;
				.trenner_rechts { display:none; }
			}
		@media (min-width: @screen-md-min) 	{ .flex-display(flex); .flex-wrap(wrap);
			.textelement_inhalt {
				.trenner_rechts { position: absolute; width:2vw; top:50%; right:-1vw; .translateY(-50%); padding:0; display:block; }
			}
			.col 		{ width:50%;
				>* 		{
					&:first-child { padding: 0px 60px 0 0; }
					&:last-child { padding: 0px 0 0 60px; }
				}
			}
			.colFull	{ width:100%; }
		}
	}

	@media (max-width: @screen-sm-max)	{
		.textMediabox { padding: 0 5vw; }
	}
	@media (min-width: @screen-md-min) 	{ padding:3vw 0;
		.aboveheadline,
		.headline,
		.subtitle 	 	{
			&.script 	{ margin-bottom:3vw; }
		}
		.inner 			{ position:relative;
			.themenicon { left: -10%; top:-6%; }
		}
	}
}

.paragraph1 {
	@media (min-width: @screen-md-min) 	{ padding:6vw 0;
		.textMediabox 		{ .flex-display(flex); .align-items(center); }
		.mediabox 			{ width:50%; }
		.textbox 			{ width:50%;
			.inner 			{ margin:0 60px; }
		}
	}
}

.paragraph2 {
	@media (min-width: @screen-md-min) 	{ padding:6vw 0;
		.textMediabox { .flex-display(flex); .align-items(center); }
		.mediabox { width:50%; order:1; }
		.textbox { width:50%;
			.inner 			{ margin:0 60px; }
		}
	}
}

.paragraph3 {
	.textMediabox 		{ .flex-display(flex); .flex-direction(column);
		.mediabox 		{ order:1; }
	}
}



.paragraphInvert 		{ background-color:var(--font-color); color:var(--white);
	.inner 				{
		.themenicon 	{ .opacity(0.5); }
	}
}

.infoSmall 				{
	.content,
	.more_content	{
		@media (min-width: @screen-md-min) 	{ margin:20px auto; max-width:50vw; }
		@media (min-width: @screen-xl-min) 	{ margin:20px auto; max-width:40vw; }
	}
}


.trenner_oben 			{ .flex-display(flex); .align-items(center); .justify-content(center); height:0; position: relative;
	img 				{ line-height: 0; width:100%; max-width:12vw; min-width:200px; height:auto; position: absolute;  z-index: 2; top:100%; .translateY(-50%); }
	@media (min-width: @screen-md-min) 	{
		img 			{ margin-top: 0; }
	}
}

.trenner_unten 			{ .flex-display(flex); .align-items(center); .justify-content(center); height:0; position: relative;
	img 				{ line-height: 0; width:100%; max-width:15vw; min-width:200px; height:auto; position: absolute;  z-index: 2; top:100%; .translateY(-64%); }
	@media (min-width: @screen-md-min) 	{
		img 			{ margin-top: 0; }
	}
}
