
{{ if hero_layout:key == 'layout1' }}
<div class="heroWrapper {{ if hintergrundschraege }}hintergrundschraege{{ /if }}">
	<article>
		<div class="hero_layout1">
			{{ if heroslideshow_bilder }}
				{{ partial:components/heroslideshow }}
			{{ else }}
				{{ if hero_image }}
					<div class="heroImage">
						{{ hero_image }}
							<img src="{{ glide:url :crop="crops:{{ seitenverhaeltnis_singleimage }}:crop" }}" alt="{{ alt }}" />
						{{ /hero_image }}
					</div>
				{{ /if }}
			{{ /if }}

			<div class="heroContent">
				{{ if hero_title_above }}<h3 class="hero_title_above">{{ hero_title_above }}</h3>{{ /if }}
				{{ if hero_title }}<h1 class="hero_title">{{ hero_title }}</h1>{{ /if }}
				{{ if hero_subtitle }}<h3 class="hero_subtitle">{{ hero_subtitle }}</h3>{{ /if }}
				{{ if hero_info }}<div class="hero_info">{{ hero_info }}</div>{{ /if }}
				{{ if hero_links }}
				<div class="hero_links">
					{{ hero_links }}
						{{ partial:elements/button
							:url='hero_link_feld'
							:style='hero_style'
							:target='hero_zielseite'
							:icon='hero_icon'
							:text='hero_text'
						}}
					{{ /hero_links }}
				</div>
				{{ /if }}
				{{ if hero_themenbild }}
					<div class="heroThemenbild">
						{{ hero_themenbild }}
							<img src="{{ url }}" alt="{{ alt }}" />
						{{ /hero_themenbild }}
					</div>
				{{ /if }}
			</div>
		</div>
	</article>
</div>
{{ /if }}


{{ if hero_layout:key == 'layout2' }}
<div class="heroWrapper {{ if hintergrundschraege }}hintergrundschraege{{ /if }}">
	<article>
		<div class="hero_layout2">
			<div class="heroContent">
				<div class="inner">
					<div class="heroTextWrap">
						{{ if hero_title_above }}<h3 class="hero_title_above">{{ hero_title_above }}</h3>{{ /if }}
						{{ if hero_title }}<h1 class="hero_title">{{ hero_title }}</h1>{{ /if }}
						{{ if hero_subtitle }}<h3 class="hero_subtitle">{{ hero_subtitle }}</h3>{{ /if }}
						{{ if hero_info }}<div class="hero_info">{{ hero_info }}</div>{{ /if }}
						{{ if hero_links }}
						<div class="hero_links">
							{{ hero_links }}
								{{ partial:elements/button
									:url='hero_link_feld'
									:style='hero_style'
									:target='hero_zielseite'
									:icon='hero_icon'
									:text='hero_text'
								}}
							{{ /hero_links }}
						</div>
						{{ /if }}
					</div>
					{{ if hero_themenbild }}
						<div class="heroThemenbild">
							{{ hero_themenbild }}
								<img src="{{ url }}" alt="{{ alt }}" />
							{{ /hero_themenbild }}
						</div>
					{{ /if }}
				</div>
			</div>
			<div class="heroMedia">
				{{ if heroslideshow_bilder }}
					{{ partial:components/heroslideshow }}
				{{ else }}
					{{ if hero_image }}
						<div class="heroImage">
							{{ hero_image }}
								<img src="{{ glide:url :crop="crops:{{ seitenverhaeltnis_singleimage }}:crop" }}" alt="{{ alt }}" class="{{ seitenverhaeltnis_singleimage }}"/>
							{{ /hero_image }}
						</div>
					{{ /if }}
				{{ /if }}
			</div>
		</div>
	</article>
</div>
{{ /if }}


{{ if hero_layout:key == 'layout3' }}
<div class="heroWrapper {{ if hintergrundschraege }}hintergrundschraege{{ /if }}">
	<article>
		<div class="hero_layout3">
			{{ if heroslideshow_bilder }}
				{{ partial:components/heroslideshow }}
			{{ /if }}
		</div>
	</article>
</div>
{{ /if }}
