<div class="hero">
	{{ if hero_image }}
		<div class="heroMedia">
			{{ hero_image }}
				<img src="{{ glide:url :crop="crops:4_1:crop" }}" alt="{{ alt }}" />
			{{ /hero_image }}
		</div>
	{{ /if }}

	<div class="heroContent">
		{{ if hero_title_above }}<h3 class="hero_title_above">{{ hero_title_above }}</h3>{{ /if }}
		{{ if hero_title }}<h1 class="hero_title">{{ hero_title }}</h1>{{ /if }}
		{{ if hero_subtitle }}<h3 class="hero_subtitle">{{ hero_subtitle }}</h3>{{ /if }}
		{{ if hero_info }}<div class="hero_info">{{ hero_info }}</div>{{ /if }}
		{{ if hero_links }}
		<div class="hero_links">
			{{ hero_links }}
				{{ partial:elements/button
					:url='hero_link_feld'
					:style='hero_style'
					:target='hero_zielseite'
					:icon='hero_icon'
					:text='hero_text'
				}}
			{{ /hero_links }}
		</div>
		{{ /if }}
	</div>
</div>
