// out: false, sourcemap: false, compress: true
@import "_basics/normalize.less";
@import "_basics/webfont.less";
@import "_basics/icofont.less";
@import "_basics/colors.less";
@import "_basics/helpers.less";
@import "_basics/flexbox.less";
@import "_basics/grid.less";
@import "_basics/buttons.less";
@import "_basics/dropdowns.less";
@import "_basics/tooltip.less";
@import "_basics/forms.less";
@import "_basics/spinner.less";

/* Component-Styles */
@import "components/header.less";
@import "components/footer.less";
@import "components/popup.less";
@import "components/card.less";
@import "components/event.less";
@import "components/products.less";
@import "components/paragraphs.less";
@import "components/tourdates.less";
/* End Component-Styles */

:root {
  --bgImage:  url(/resources/assets/bgDots.png);
  --fontFamily: 'Montserrat', sans-serif;
  --fontFamilyScript: 'Signatra', sans-serif;
  --fontFamilyHand: 'Arkipelago';
}

/* CORE SETTINGS */
html 	        { padding:0; margin:0; font-family: var(--fontFamily); scroll-behavior:smooth; overflow-x: hidden; position:relative; min-height:100%; height:auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body 	        { padding:0; margin:0; font-family: var(--fontFamily); min-height:100%; height:auto; line-height:1; font-size: clamp(14px,1vw,16px); background-image:var(--bgImage); background-position: top left; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }
main 	        { display: block; }
h1 		        { padding:0; margin:0; font-size: clamp(36px, 3.5vw, 66px); font-weight:normal; }
h2 		        { padding:0; margin:0; font-size: clamp(24px, 2.5vw, 36px); font-weight:normal; }
h3 		        { padding:0; margin:0; font-size: clamp(18px, 2.0vw, 24px); font-weight:normal; }
h4 		        { padding:0; margin:0; font-size: clamp(14px, 1.2vw, 18px); font-weight:bold; }
h5 		        { padding:0; margin:0; font-size: clamp(12px, 0.8vw, 16px); font-weight:normal; }
h6 		        { padding:0; margin:0; font-size: clamp(10px, 0.8vw, 12px); font-weight:normal; }
p 		        { padding:0; margin:0; line-height:1.6; display:block; }
.small          { font-size: clamp(12px, 0.6vw, 14px); }
.medium         { font-size: clamp(14px, 1.2vw, 18px); }
.medium20 		{ font-size: clamp(16px, 1.6vw, 20px); }
.large          { font-size: clamp(18px, 2.0vw, 32px); }
.xlarge         { font-size: clamp(36px, 3.5vw, 66px); }
.texthighlite   { display:inline-block; padding:0 5px; }
*               { -ms-overflow-style: none; scrollbar-width: none; }
*::-webkit-scrollbar { display: none; }

.script 		{ font-family: var(--fontFamilyScript); font-size: clamp(72px, 5vw, 120px); }
.hand 			{ font-family: var(--fontFamilyHand); font-size: clamp(20px, 3vw, 28px); }
.standard 		{ font-family: var(--fontFamily); }

svg 			{ width: 100%; height: 100%; }

// Unordered lists

ul  { margin:0; padding:0;
	>li { list-style: none; position: relative; padding: 3px 0 2px 20px; line-height: 1.6;
		&:before { content: '•'; position: absolute; top: -11px; left: 0; font-size:40px; }
	}
}

.blogGrid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap:30px; }


// Slider
.homeslider 		{ height:40vw; margin:90px 5vw; }
.herogallery 		{ height:100%; }
.slideParagraph 	{ width:100%; height:100%; .flex-display(flex);
	.textMediabox 	{ position: relative; height:100%; width:100%; }
	.mediabox 		{ .flex-display(flex); width:100%; height:100%;
		img 		{ object-fit: cover; }
	}
	.textbox 		{ position: absolute; left:8vw; top:50%; .translateY(-50%); width: 50vw; max-width: 900px; }
	.headline 		{ margin-bottom:15px; font-size: clamp(30px,3vw,60px); }
	.subtitle 		{ margin-bottom:15px; }
	.content 		{ line-height: 1.6; margin:15px 0;}
}

.swiper-button-prev,
.swiper-button-next { color:var(--primary-color); }

.swiper-pagination-bullet-active { background:var(--primary-color); }


// herolayouts


.heroWrapper 		{ position:relative;
	&.hintergrundschraege {
		&:after 		{ content:''; position:absolute; bottom:0; z-index:0; width: 0; height: 0; border-bottom: 10vw solid var(--font-color); border-left: 100vw solid transparent;
			@media (min-width: @screen-md-min) 	{ border-bottom: 20vw solid var(--font-color); }
		}
	}
	>article		{ width:100%; max-width:90vw; margin:0px auto; position: relative; z-index:1; }
	@media (min-width: @screen-xl-min) 	{
		>article		{ max-width:80vw; }
	}
}

.hero_title_above 	{ transform: skew(6deg, -6deg); .hand; }
.hero_title 		{ transform: skew(6deg, -6deg); .script; }
.heroImage 			{ line-height:0; overflow:hidden;
	img 			{ line-height: 0; }
}

.hero_layout1			{ position:relative; color:var(--white); width:100%; height:auto; max-width:90vw; margin:0px auto; .border-radius(8px);
	.heroImage 			{ .box-shadow2; }
	.heroContent 		{ display:none; position: absolute; top:50%; left:50%; .translate(-50%,-50%); text-align:center; z-index:2;
		@media (min-width: @screen-md-min) 	{ display:block; }
	}
}

.hero_layout2 				{ .flex-display(flex); .flex-direction(column);
	.heroContent 			{ position:relative; z-index:1;
		.inner 				{ padding:30px 0 30px 0; .flex-display(flex); .justify-content(center); }
		.hero_title_above 	{ color:var(--primary-color); }
		.heroThemenbild 	{ order:-1; max-width:160px;
			img 			{ max-height: 25vw; width: auto; }
		}
	}
	.heroMedia 				{ margin-top:0px; position:relative; z-index:0; order:-1;
		.heroImage 			{ .border-radius(8px); .box-shadow2; line-height: 0;
			img 			{ .border-radius(8px); line-height: 0; }
		}
	}
	@media (min-width: @screen-md-min) 	{  .flex-direction(row);
		.heroContent 		{ width:40%;
			.inner 			{ text-align:center; padding:2vw 0 0 0; .flex-direction(column); }
			.heroThemenbild { position:relative; z-index:3; top:-2vw; order:1; max-width:none; width:130%; left:50%; .translateX(-50%); }
		}
		.heroMedia 			{ width:60%; margin-top:0px; order:1; z-index:1; }
	}
}

.hero_layout3 		{}

// hero slideshow
.heroslideshow 		{ position:relative; color:var(--white); width:100%; height:auto; .border-radius(8px); .box-shadow2; overflow:unset;
	.swiper-slide 	{ width:100%; height:auto;
		.mediabox 	{ line-height:0; .border-radius(8px); overflow:hidden;
			&.ratio_auto 	{ width:100%; height:auto; }
			&.ratio_16_9 	{ aspect-ratio: 16/9; }
			&.ratio_4_3 	{ aspect-ratio: 4/3; }
			&.ratio_4_1 	{ aspect-ratio: 4/1; }
			img 			{ line-height: 0; }
		}
	}
	.swiper-pagination { width:auto; margin:0px auto; padding:8px 12px; background-color:var(--white); .border-radius(999px); .box-shadow2; overflow:hidden; position: absolute; left: 50%; bottom: -15px; .translateX(-50%); }
}

.containerFree 		{ width:100%; height:auto; max-width:90vw; margin:0px auto;
	@media (min-width: @screen-xl-min) 	{ max-width:70vw; }
}

/* Filter - BOX */

.box-shadow2 {
	box-shadow: rgb(12, 12, 13) 0px 20px 30px -10px;
}

.bgGradientHeader { background: rgb(255,248,239);
background: -moz-linear-gradient(0deg, rgba(255,248,239,0) 0%, rgba(255,248,239,1) 60%);
background: -webkit-linear-gradient(0deg, rgba(255,248,239,0) 0%, rgba(255,248,239,1) 60%);
background: linear-gradient(0deg, rgba(255,248,239,0) 0%, rgba(255,248,239,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8ef",endColorstr="#fff8ef",GradientType=1);
}


/* on scroll */
.headerBg 	{ position: fixed; top:-120px; height:80px; .bgGradientHeader; z-index:2; left:0; right:0; .opacity(0); .transition-smooth;
	@media (min-width: @screen-md-min) 	{ top:-240px; height:200px; }
}
.scrolled {
	.headerBg { top:0; .opacity(1); }
}


// gallery

.gallery { margin-top:30px; margin-left:30px;
	@media (min-width: @screen-md-min) 	{ margin-top:60px; margin-left:60px; }
}

.gallery-item { margin:0 15px 15px 0; width: calc(50% - 30px); overflow:hidden; .box-shadow2; line-height: 0; .border-radius(8px); border:2px solid var(--secondary-color); background-color: var(--font-color);
	@media (min-width: @screen-md-min) 	{ width: calc(33.33% - 30px); cursor: pointer; }
}



// Modal

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);
	.transition-all;
}

.modalContentWrapper 	{ .flex-display(flex); .flex-direction(column); .flex-wrap(wrap); width:100%; height:100%; .align-items(center); .justify-content(center); }
.modalCaption 			{ color:var(--white); position:absolute; bottom:60px; }

.modal-content {
    margin: auto;
    display: block;
	width:auto;
	height:auto;
    max-width: 90%;
    max-height: 90%;
	.transition-all;
}

.close {
    color: var(--white);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size:clamp(36px,3vw,60px);
    cursor: pointer; .transition-all; font-weight: 300;
	&:hover { color:var(--primary-color); .rotate(180deg); }
}

.prev,
.next { position: absolute; top:50%; .translateY(-50%); font-size:clamp(36px,3vw,60px); color:var(--white);
	&:hover { color:var(--primary-color); }
}
.prev { left:60px; }
.next { right:60px; }
